{% extends "mods/base.html" %}

{% block body %}
<div class="" id="home">
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Product</h2>
                        </div>
                    </div>
                    <div class='row tm-edit-product-row'>
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="add-package-div" class="form-group mb-3">
                                <label for="add-package">Add Package</label>
                                <button onclick="myFunction()" class="fas  btn-primary fa-plus-square"></button>
                                <script>
                                    function myFunction() {
                                        var para = document.createElement("span");
                                        para.innerHTML = '<br><input id="SKU" name="SKU" type="text" value = "{{SKU}}" class="form-control validate"/>'

                                        var parab = document.createElement("span");
                                        parab.innerHTML = '<br><input id="name" name="productName" type="text" value="{{productName}}" class="form-control validate"/>'

                                        var parac = document.createElement("span");
                                        parac.innerHTML = '<br><input id="chineseName" name="chineseName" type="text" value="{{chineseName}}" class="form-control validate"/>'

                                        document.getElementById("myDIV").appendChild(para);
                                        document.getElementById("myDIV2").appendChild(parab);
                                        document.getElementById("myDIV3").appendChild(parac);
                                    }
                                </script>
                                <style>
                                </style>
                            </div>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="myDIV" class='form-group mb-3'>
                                <label for="SKU">SKU</label>
                                <input id="SKU" name="SKU" type="text" value='{{SKU}}' class="form-control validate " />
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="myDIV2" class="form-group mb-3">
                                <label for="name">Product Name
                                </label>
                                <input id="name" name="productName" type="text" value='{{productName}}'
                                    class="form-control validate " />
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="myDIV3" class="form-group mb-3">
                                <label for="name">Chinese Name
                                </label>
                                <input id="chinese_name" name="chinese_name" type="text"
                                    class="form-control validate " />
                            </div>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div id="leftColumn" class="col-xl-6 col-lg-6 col-md-22">
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea id="item_description_area" class="form-control validate "
                                    name='item_description'></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="materials">Materials</label>
                                <textarea id="item_materials_area" class="form-control validate "
                                    name='item_materials'></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <script type="text/javascript">
                                    function envOther(name) {
                                        if (name == 'OtherCat') $("#otherEnvRow").show();
                                        else $("#otherEnvRow").hide();
                                    }
                                </script>

                                <label for="Envelope">Envelope</label>

                                <select class="custom-select tm-select-accounts" name='envelope' id="envelope"
                                    onchange="envOther(this.options[this.selectedIndex].value)">

                                    <option selected value="none">Choose an envelope</option>
                                    {% for category in envelope %}
                                    <option value="{{category}}">{{category.category}}</option>
                                    {%endfor%}
                                    <option value="OtherCat">Other</option>
                                </select>


                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-22" id="rightColumn">
                            <div class="form-group mb-3">
                                <script type="text/javascript">
                                    function showfield(name) {
                                        if (name == 'OtherCat') document.getElementById('div2').innerHTML = ' <label for="otherCat" >New Category:</label> <input type="text" name="otherCat" class="form-control validate" />';
                                        else document.getElementById('div2').innerHTML = '';
                                    }
                                </script>
                                <label for="category">Category</label>
                                <select class="custom-select tm-select-accounts" name='category' id="category"
                                    onchange="showfield(this.options[this.selectedIndex].value)">

                                    <option selected value="none">Choose a Category</option>
                                    {% for category in categories %}
                                    <option value="{{category}}">{{category.envelope}}</option>
                                    {%endfor%}
                                    <option value="OtherCat">Other</option>
                                </select>
                                <div id="div2"></div>
                            </div>
                            <div class="row">

                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="stock">Units in Stock
                                    </label>
                                    <input id="stock" name="stock" type="text" class="form-control validate " />
                                </div>

                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="coulour">Colour
                                    </label>
                                    <input id="Colour" name="Colour" type="text" class="form-control validate " />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="weight">Weight (gm)
                                    </label>
                                    <input id="weight" name="weight" type="text" class="form-control validate " />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="size">Height (cm)
                                    </label>
                                    <input id="size" name="Height" type="text" class="form-control validate " />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="size">Width (cm)
                                    </label>
                                    <input id="size" name="Width" type="text" class="form-control validate " />
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="size">Length (cm)
                                    </label>
                                    <input id="size" name="Length" type="text" class="form-control validate " />
                                </div>

                            </div>
                            <div class="form-group mb-3">
                                <label for="currency">Currency</label>
                                <select class="custom-select tm-select-accounts" id="currency" name='currencyType'>
                                    <option value="none" selected>Select Currency</option>
                                    <option value="AUD">AUD</option>
                                    <option value="RMB">RMB</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="cost_price">Cost
                                </label>
                                <input id="cost_price" name="cost_price" type="text" class="form-control validate " />
                            </div>

                        </div>

                    </div>

                    <div id="otherEnvRow" class="row tm-edit-product-row" style="display: none">
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="otherEnvName" class='form-group mb-3'>
                                <label for="SKU">Envelope Name</label>
                                <input id="SKU" name="SKU" type="text" value='{{SKU}}' class="form-control validate " />
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="otherEnvDescription" class="form-group mb-3">
                                <label for="envName">Envelope Description
                                </label>
                                <input id="name" name="productName" type="text" value='{{productName}}'
                                    class="form-control validate" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-22">
                            <div id="otherEnvTemplate" class="form-group mb-3">
                                <label for="name">Envelope Template
                                </label>
                                <input type="button" class="btn btn-primary btn-block mx-auto"
                                    value="UPLOAD TEMPLATE"
                                    onclick="document.getElementById('fileInput').click();" />
                            </div>
                        </div>
                    </div>

                    <div class="row tm-edit-product-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto mb-4">
                            <div class="tm-product-img-dummy mx-auto">
                                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                    onclick="document.getElementById('fileInput').click();"></i>
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" type="file" style="display:none;" />
                                <input type="button" class="btn btn-primary btn-block mx-auto"
                                    value="UPLOAD PRODUCT IMAGE"
                                    onclick="document.getElementById('fileInput').click();" />
                            </div>
                        </div>
                    </div>
                    <div class='row'>

                        <form action="{{url_for('temp')}}" class="tm-edit-product-form" method="post">
                            <div class="col-12">
                                <p>{{hiddenText}}</p>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product
                                    Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block extra_scripts %}
<script>
    var whiteSpaceHeight = 0;
    $("#leftColumn").children().each(function () {
        whiteSpaceHeight = whiteSpaceHeight + $(this).outerHeight(true);
    });
    whiteSpaceHeight = $("#leftColumn").height() - whiteSpaceHeight;
    if (whiteSpaceHeight != 0) {
        $("#item_description_area").height($("#item_description_area").height() + whiteSpaceHeight / 2);
        $("#item_materials_area").height($("#item_materials_area").height() + whiteSpaceHeight / 2);
    }
</script>
{% endblock %}